.map {

  position: relative;

  &,
  .map-base {
    width: 100%;
    height: 100%;
    background: $blue-grey-50;
  }

}

.map-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $blue-grey-200;
  font-family: $font-default;
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  margin: auto;
}

.map-marker {

  &[class*="shadow"] {
    filter: blur(5px);
    opacity: .7;
  }

}